.list {
  display: flex;
  flex-direction: column;
  padding: 2em 2.78em;
  background-color: var(--greySecond);
  gap: 0.5em;
}
.itemHead,
.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.833em;
  /* justify-content: space-between; */
}
.itemHead {
  color: var(--blackBg);
  font-weight: 300;
  line-height: 138%;
}
.item {
  border-radius: 0.4em;
  background: var(--white);
}
.category,
.categoryHead {
  font-size: 0.833em;
  line-height: 130%;
  width: 10em;
}
.category::before {
  position: absolute;
  content: "";
  display: block;
  width: 0.2em;
  height: 3em;
  border-radius: 0.5em;
  background-color: var(--blackBg);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.active {
  color: var(--green);
}
.notActive {
  color: var(--red);
}
.pending {
  color: var(--orange);
}
.suspended {
  color: var(--blue);
}
.name,
.promotion {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.name {
  width: 20em;
}
.status {
  width: 15em;
}
.promotion {
  width: 10em;
}
.image {
  width: 1em;
  height: auto;
}
.country {
  width: 10em;
}
.data {
  width: 10em;
}
.category,
.name,
.status,
.promotion,
.country,
.data {
  display: flex;
  justify-content: center;
}
