.container {
  display: flex;
  justify-content: space-between;
  padding: 2em 2.78em;
  margin-bottom: 2em;
  border-bottom: 0.1em solid rgb(209, 213, 219);
}
.title {
  font-size: 2.08em;
  font-weight: 600;
  line-height: 120%;
}
.titleSection {
  font-size: 1.39em;
  line-height: 140%;
  padding: 1em;
  border: 1px solid var(--greySecond);
  border-radius: 4px;
  background: var(--greySecond);
}
