.main {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--blackBg);
  z-index: -4;
}

.btn {
  margin-top: 0.5em;
  padding: 1em;
  border-radius: 0.5em;
  text-transform: uppercase;
  color: var(--milk);
  background-color: var(--blackBg);
  border: 0.1em solid var(--blackBg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover,
.btn:focus {
  color: var(--blackBg);
  background-color: var(--light-green);
}
.transition {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--light-green);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
